---
import MainLayout from "../layouts/main.astro";
import WebsiteRequestForm from "../components/websiteRequestForm.vue";

import { m } from "../paraglide/messages.js";
---

<MainLayout class="contentContainer">
  <section class="titlesNStuff">
    <h1>{m.contribute_title()}</h1>
  </section>
  <section>
    <div class="subtitlesNStuff">
      <h2>{m.contribute_suggestion_title()}</h2>
      <p>{m.contribute_suggestion_subtitle()}</p>
    </div>
    <WebsiteRequestForm client:only />
  </section>
  <section>
    <div class="subtitlesNStuff">
      <h2>{m.contribute_translate_title()}</h2>
      <p>{m.contribute_translate_subtitle()}</p>
    </div>
    <div>
      <a href="https://crowdin.com/project/readthisshit-fyi">{m.contribute_translate_link()}</a>
    </div>
  </section>
  <section>
    <div class="subtitlesNStuff">
      <h2>{m.contribute_code_title()}</h2>
      <p>{m.contribute_code_subtitle()}</p>
    </div>
    <a href="https://github.com/readthisshit-fyi">{m.contribute_code_link()}</a>
  </section>
</MainLayout>

<style lang="scss">
  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    display: flex;
    align-items: start;
    justify-content: start;
    width: var(--max-content-width);
    height: auto;
    align-self: center;
    flex-direction: column;
    padding: 25px 0;
    gap: 16px;

    .subtitlesNStuff {
      gap: 5px;
      display: flex;
      flex-direction: column;
    }

    a,
    [type="submit"],
    button {
      width: auto;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      gap: 2px;
      font-weight: 600;
      font-size: 16px;
      background: var(--background);
      border: var(--text) 2px solid;
      padding: 6px 12px;
      border-radius: 4px;
      color: var(--text);
      transition: all 0.2s ease;

      &:hover {
        background: var(--text);
        color: var(--background);
        transition: all 0.1s ease;
      }
    }
  }

  h1 {
    color: var(--text);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  h2 {
    color: var(--text);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  p {
    font-size: 18px;
    color: var(--dimmed-text);
  }

  .titlesNStuff {
    padding: 70px 0;
  }
</style>
